
<h2>completed</h2>

<% @tasks.each do |task| %>
  <ul>
    <li <%= css task %> rel="<%= task.id %>">
		<span class="picto" >&nbsp;</span>
		<em><%=h task.name %></em>
	</li>
    <!-- <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </ul>
<% end %>


<br />

<%= link_to 'New task', new_task_path %>
<%=	javascript_include_tag 'jquery', :cache => false %>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript" charset="utf-8"></script> -->
<%= javascript_include_tag 'tasks', :cache => false %>